In [28]:
import pandas as pd
import numpy as np

## Data Preparation

In [3]:
df = pd.read_csv('data/all_data.csv')

In [5]:
df

,year,bracket,round,location,team_one_rank,team_one,team_one_score,team_two_rank,team_two,team_two_score,...,conference_losses_two,conference_win_loss_percentage_two,own_points_per_game_two,opp_points_per_game_two,strength_of_schedule_two,simple_rating_system_two,ap_pre_two,ap_high_two,ap_final_two,conference_tournament_champion_two
0,1985,East,First Round,"Hartford, CT",1,Georgetown,68,16,Lehigh,43,...,8.0,0.429,65.0,70.1,-12.02,-6.89,26.0,26.0,26.0,True
1,1985,East,Second Round,"Hartford, CT",1,Georgetown,63,8,Temple,46,...,3.0,0.833,64.8,57.8,7.67,0.67,26.0,26.0,26.0,True
2,1985,East,Sweet Sixteen,"Providence, RI",1,Georgetown,65,4,Loyola (IL),53,...,1.0,0.929,83.5,77.3,10.29,4.07,26.0,14.0,14.0,True
3,1985,East,Elite Eight,"Providence, RI",1,Georgetown,60,2,Georgia Tech,54,...,5.0,0.643,69.9,60.9,16.45,7.42,20.0,6.0,6.0,True
4,1985,East,Sweet Sixteen,"Providence, RI",3,Illinois,53,2,Georgia Tech,61,...,5.0,0.643,69.9,60.9,16.45,7.42,20.0,6.0,6.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,2023,West,First Round,14\nGrand Canyon\n70,3,Gonzaga,82,14,Grand Canyon,70,...,7.0,0.588,72.2,69.1,4.43,1.27,26.0,26.0,26.0,True
1860,2023,West,Sweet Sixteen,"Las Vegas, NV",3,Gonzaga,79,2,UCLA,76,...,2.0,0.900,74.1,60.7,22.11,8.66,8.0,2.0,7.0,False
1861,2023,West,Second Round,"Sacramento, CA",7,Northwestern,63,2,UCLA,68,...,2.0,0.900,74.1,60.7,22.11,8.66,8.0,2.0,7.0,False
1862,2023,West,First Round,"Sacramento, CA",7,Northwestern,75,10,Boise State,67,...,5.0,0.722,71.5,65.0,12.78,6.21,26.0,26.0,26.0,False
1863,2023,West,First Round,"Sacramento, CA",2,UCLA,86,15,UNC Asheville,53,...,2.0,0.889,72.4,69.8,-1.74,-4.35,26.0,26.0,26.0,True

In [16]:
pd.get_dummies(df).dtypes[pd.get_dummies(df).dtypes == 'bool']

team_one_wins                         bool
conference_tournament_champion_one    bool
conference_tournament_champion_two    bool
dtype: object

In [20]:
df['team_one_wins'] = (df['team_one_wins'] == True).astype(int)

In [21]:
df['conference_tournament_champion_one'] = (df['conference_tournament_champion_one'] == True).astype(int)

In [22]:
df['conference_tournament_champion_two'] = (df['conference_tournament_champion_two'] == True).astype(int)

In [25]:
data = pd.get_dummies(df)

In [27]:
data

,year,team_one_rank,team_one_score,team_two_rank,team_two_score,team_one_wins,rank_one,overall_wins_one,overall_losses_one,overall_win_loss_percentage_one,...,conference_two_Sun Belt,conference_two_Sun Belt (East),conference_two_Sun Belt (West),conference_two_TAAC,conference_two_TAAC (East),conference_two_WAC,conference_two_WAC (Mountain),conference_two_WAC (Pacific),conference_two_WCAC,conference_two_WCC
0,1985,1,68,16,43,1,2.0,35.0,3.0,0.921,...,0,0,0,0,0,0,0,0,0,0
1,1985,1,63,8,46,1,2.0,35.0,3.0,0.921,...,0,0,0,0,0,0,0,0,0,0
2,1985,1,65,4,53,1,2.0,35.0,3.0,0.921,...,0,0,0,0,0,0,0,0,0,0
3,1985,1,60,2,54,1,2.0,35.0,3.0,0.921,...,0,0,0,0,0,0,0,0,0,0
4,1985,3,53,2,61,0,2.0,26.0,9.0,0.743,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,2023,3,82,14,70,1,1.0,31.0,6.0,0.838,...,0,0,0,0,0,1,0,0,0,0
1860,2023,3,79,2,76,1,1.0,31.0,6.0,0.838,...,0,0,0,0,0,0,0,0,0,0
1861,2023,7,63,2,68,0,3.0,22.0,12.0,0.647,...,0,0,0,0,0,0,0,0,0,0
1862,2023,7,75,10,67,1,3.0,22.0,12.0,0.647,...,0,0,0,0,0,0,0,0,0,0
1863,2023,2,86,15,53,1,1.0,31.0,6.0,0.838,...,0,0,0,0,0,0,0,0,0,0

## Train-Test Split

In [31]:
from sklearn.model_selection import train_test_split

In [34]:
X = data.drop(['team_one_wins'], axis=1)
X

,year,team_one_rank,team_one_score,team_two_rank,team_two_score,rank_one,overall_wins_one,overall_losses_one,overall_win_loss_percentage_one,conference_wins_one,...,conference_two_Sun Belt,conference_two_Sun Belt (East),conference_two_Sun Belt (West),conference_two_TAAC,conference_two_TAAC (East),conference_two_WAC,conference_two_WAC (Mountain),conference_two_WAC (Pacific),conference_two_WCAC,conference_two_WCC
0,1985,1,68,16,43,2.0,35.0,3.0,0.921,14.0,...,0,0,0,0,0,0,0,0,0,0
1,1985,1,63,8,46,2.0,35.0,3.0,0.921,14.0,...,0,0,0,0,0,0,0,0,0,0
2,1985,1,65,4,53,2.0,35.0,3.0,0.921,14.0,...,0,0,0,0,0,0,0,0,0,0
3,1985,1,60,2,54,2.0,35.0,3.0,0.921,14.0,...,0,0,0,0,0,0,0,0,0,0
4,1985,3,53,2,61,2.0,26.0,9.0,0.743,12.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,2023,3,82,14,70,1.0,31.0,6.0,0.838,14.0,...,0,0,0,0,0,1,0,0,0,0
1860,2023,3,79,2,76,1.0,31.0,6.0,0.838,14.0,...,0,0,0,0,0,0,0,0,0,0
1861,2023,7,63,2,68,3.0,22.0,12.0,0.647,12.0,...,0,0,0,0,0,0,0,0,0,0
1862,2023,7,75,10,67,3.0,22.0,12.0,0.647,12.0,...,0,0,0,0,0,0,0,0,0,0
1863,2023,2,86,15,53,1.0,31.0,6.0,0.838,18.0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
y = data['team_one_wins']
y

0       1
1       1
2       1
3       1
4       0
       ..
1859    1
1860    1
1861    0
1862    1
1863    1
Name: team_one_wins, Length: 1864, dtype: int64

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=101)

In [45]:
X_test.shape

(187, 727)